.button{
    width: auto;

}
.H1{
    text-align: center;
    font-family: "century Gothic", "Helvetica Neve", Helvetica, sans serif;
   
    text-align:center;
    color:#1c1fb8;
    
    empty-cells:hide;
}
