<div class="container" style="color: rgb(17, 3, 11)">
  <h1>Ajouter Competence</h1>
    <form style="color: rgb(24, 4, 14)" [formGroup]="form"(ngSubmit)="ajoutCompetence(form)">
        <div class="form-group">
          <label for="inputEmail4">Libelle</label>
          <input style="color: rgb(20, 3, 12)" type="text" class="form-control" placeholder="Libelle" formControlName="libelle">
        </div>
        <div class="form-group">
          <label for="inputEmail4">Descriptif</label>
          <textarea formControlName="descriptif" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Descriptif">
          </textarea>
        </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputState">
          Groupes Compétences</label>
          <select multiple name="groupeCometances" formControlName="groupeCometances">
            <option *ngFor="let GroupeCompetance of tabGroupCompetence" [ngValue]="GroupeCompetance" value="{{GroupeCompetance.id}}">
              {{ GroupeCompetance.libelle }}
            </option>
          </select>
        </div>
  
      </div>
  
       <div formArrayName="niveau">
        <mat-tab-group >
          <mat-tab label="Niveau 1" [formGroupName]="0">  
          <textarea formControlName="groupeAction" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Groupe Action">
          </textarea>
          <textarea formControlName="critereEvaluation" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="critere Evaluation">
          </textarea>
        </mat-tab>

          <mat-tab label="Niveau 2"  [formGroupName]="1"> 
            <textarea formControlName="groupeAction" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Groupe Action">
            </textarea>
            <textarea formControlName="critereEvaluation" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="critere Evaluation">
            </textarea>
          </mat-tab>
          <mat-tab label="Niveau 3"  [formGroupName]="2"> 
            <textarea formControlName="groupeAction" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Groupe Action">
            </textarea>
            <textarea formControlName="critereEvaluation" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="critere Evaluation">
            </textarea>
           </mat-tab>
        </mat-tab-group>
       </div>
  
     <!--
 <div class="form-group">
        <div class="form-check mt-5">
          <input class="form-check-input"style="color: deeppink"  type="checkbox" id="gridCheck">
          <label style="color: rgb(5, 99, 71)" class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>

     -->
      <button click="ajoutCompetence()" class="btn btn-secondary">Valider</button>

  
    </form>
  </div>