
.ajou{
    text-align: center;
    align:center;
    color:#13a8a1;
    
    
    
}
.btn{
   margin-top: 20px;
   margin-left: 37%;
 
}
.form{
    margin-top: 70px;
    width: 30%;
    margin-left: 33%;
   
}
.body{
  background-color: rebeccapurple;
}
h1{
    text-align: center;
    color: rgb(2, 87, 40);
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
    }
    #accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 30px -5px 30px;
    position: relative;
    }
    #accordion .panel-heading{
    width: 300%;
    border: none;
    border-radius: 0;
    margin-left: -26%;
    }
    #accordion .panel-title a{
    display: block;
    padding: 15px 20px 15px 60px;
    margin: 0;
    background: #08ca9a;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--main-color);
    border: 1px solid rgb(238, 241, 240);
    border-radius: 0;
    position: relative;
    }
    #accordion .panel-title a:before,
    #accordion .panel-title a.collapsed:before{
    content: "\f0de";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 30px;
    height: 30px;
    line-height: 40px;
    background: var(--main-bg-color);
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    color: var(--main-color);
    position: absolute;
    top: 10px;
    left: -20px;
    transition: all 0.3s ease 0s;
    }
    #accordion .panel-title a.collapsed:before{
    content: "\f0dd";
    line-height: 25px;
    }
    
    #accordion .panel:last-child .panel-body{ border-bottom: 2px dashed #000; }
    @media only screen and (max-width:479px){
    #accordion .panel-body{
        font-size: 14px;
        line-height: 22px;
        margin: 0 10px;
    }
    }