.btn{
    margin-left: 67.5%;
    margin-top: -23px;
}
.pro{
    text-align: center;
    color: rgb(31, 173, 138);
}
.h11{
    text-align: center;
    color: rgb(7, 160, 114);
}
table{
    width: 90%;
    margin-left: 4%;
    border: 2px;
}
.pagination{
    margin-left: 76%;
}
.tr1{
    border: 40px;
    background-color: rgb(74, 167, 86);
}
