<div ><h1>Liste des compétences</h1></div>
<div class="btn" >
    <br>
   <a href="footer/addCompetence"> 
    <button type="button" class="btn btn-success">Ajouter</button>
 </a>
</div>
<table class="table">
    <thead>
      <tr class="tr1">
        <th scope="col">Libelle</th>
        <th scope="col">Niveau 1</th>
        <th scope="col">Niveau 2</th>
        <th scope="col">Niveau 3</th>
        <th scope="col">Groupe Competence</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>Développer une interface web dynamique</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>Développer le back-end d'une application</td>
        <td><a href="#"> <i class="fa fa-trash-o"> </i> </a></td>
        <td> <a href="#"> <i class="fa fa-pencil"> </i> </a></td>
      </tr>
      <tr>
        <td>Réaliser une interface avec un CMS</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Développer le back-end d'une application</td>
        <td><a href="#"> <i class="fa fa-trash-o"> </i> </a></td>
        <td> <a href="#"> <i class="fa fa-pencil"> </i> </a></td>
      </tr>
      <tr>
      
        <td>Réaliser une interface web responsive</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>Développer le back-end d'une application</td>
        <td><a href="#"> <i class="fa fa-trash-o"> </i> </a></td>
        <td> <a href="#"> <i class="fa fa-pencil"> </i> </a></td>
      </tr>
    </tbody>
   
  </table>
  <div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>