h1{
    color: rgb(8, 153, 64);
    text-align: center;
}
.btn{
    margin-top: -50px;
    margin-left: 85.3%;
    width: 90px;
}
table{
    width: 90%;
    margin-left: 4%;
    border: 2px;
}
.pagination{
    margin-left: 76%;
}
.tr1{
    border: 40px;
    background-color: rgb(74, 167, 86);
}
