body{
    background-color: rgb(147, 28, 226);
}
.ajou{
    text-align: center;
    align:center;
    text-align:center;
    color:#6d13a8;
    
    
}
.btn{
   margin-top: 20px;
   margin-left: 37%;
 
}
.form{
    margin-top: 70px;
    width: 30%;
    margin-left: 33%;
}