h1{
    text-align: center;
    color: #f0f7f3;
    font-family: fantasy;
    background-color: #125333;
    height: 4%;
}
.img1{
    align:center;
    margin-left: 5%;
}
.img2{
 margin-left: 70%;
 margin-top: -10%;
}
.img3{
    margin-left:25% ;
}