
.ajou{
    text-align: center;
    align:center;
    color:#13a8a1;
    
    
    
}
.btn{
   margin-top: 20px;
   margin-left: 37%;
 
}
.form{
    margin-top: 70px;
    width: 30%;
    margin-left: 33%;
   
}
.body{
  background-color: rebeccapurple;
}
h1{
    text-align: center;
}
