<h1 class="ajou">Creation Groupe Competence </h1>
<form class="form"  >
    
      
        <div class="form-group">
          <label for="pwd">Libelle:</label>
          <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="pwd">Descriptif:</label>
            <input type="text" class="form-control" formControlName="email">
          </div>
        <div class="form-group">
          <label for="sel1">Competence:</label>
          <select class="form-control" formControlName="profil_id">
            <option value="Admin">Compt1</option>
            <option value="Formateur">Com</option>
          
          </select>


         
        </div>
      
      <div class="btn">
          <button class="btn btn-secondary">Valider</button>
      </div>
</form>