<h1 class="ajou">Update Profil Sortie</h1>
<form class="form" [formGroup]="form"(ngSubmit)="ajoutProfilSortie(form)">
      <div class="form-group">
        <h2 class="lib"><label for="usr">Libelle:</label></h2>
          <input type="text" class="form-control" formControlName="libelle">
            <div>
              <span *ngIf = "isavailable; then condition1 else condition2">
                Condition is valid.
              </span>
              <ng-template #condition1>Condition is valid</ng-template>
              <ng-template #condition2>Condition is invalid</ng-template>
            </div>
        </div>
      <div class="btn">
          <button click="ajoutProfilSortie()"class="btn btn-secondary">Valider</button>
      </div>
</form>