<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="pageDaccuiel">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenulink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog">
          </i>
          parametrage 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="competence">Competence</a>
          <a class="dropdown-item" routerLink="Promo">Promo</a>
          <a class="dropdown-item" routerLink="ProfilSortie">ProfilSortie</a>
         
          <a class="dropdown-item" routerLink="#">Referenciel</a>

        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="fa fa-reply-all">
          
          </i>
          Historique des Promo
        </a>
      </li>
    
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenulink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-o">
          </i>
       Utilisateur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="addUser">Ajouter
            <i class="fa fa-plus-square">
            </i>
          </a>
          <a class="dropdown-item" routerLink="listerUser">Lister
            <i class="fa fa-address-card">
            </i>
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="listerProfil">
          <i class="fa fa-user-circle-o">
          </i>
          Profil   
        </a>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-users">21302
            Connexion
          </i>
         
          
        </a>
      </li>-->
    </ul>
   
  </div>
</nav>

<router-outlet></router-outlet>






<!--

<mat-toolbar color="primary">
    <span ><a href="ageDaccueil" class="icon2"><mat-icon >home</mat-icon> pageDacciel</a>
    </span>
    <p class="spacer"></p>
    <a mat-button> Ulilisateur</a>
    <a href="listerUser" mat-button><mat-icon>list</mat-icon>listeUser</a>
    <a mat-button>Profil</a>
    <a href="listerProfil" mat-button ><mat-icon>list</mat-icon>listerProfil</a>
   <a href=""> <mat-icon class="icon1">perm_identity</mat-icon> </a>
  </mat-toolbar>
  
  
<div class="pier">
    
  <mat-toolbar color='primary'>
    <span class='space'></span>
      <h3> © Copyright File Rouge Sonatel Academy 2020.<mat-icon> mail_outline</mat-icon>niangmakhtar4@gmail.com</h3>
    <span class='spacer'></span>
  </mat-toolbar>
</div>
-->