

<mat-toolbar color="primary">
    <span ><a href="ageDaccueil" class="icon2"><mat-icon >home</mat-icon> pageDacciel</a>
    </span>
    <p class="spacer"></p>
    <a mat-button> Ulilisateur</a>
    <a href="listerUser" mat-button><mat-icon>list</mat-icon>listeUser</a>
    <a mat-button>Profil</a>
    <a href="listerProfil" mat-button ><mat-icon>list</mat-icon>listerProfil</a>
   <a href=""> <mat-icon class="icon1">perm_identity</mat-icon> </a>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
<div class="pier">
    
  <mat-toolbar color='primary'>
    <span class='space'></span>
      <h3> © Copyright File Rouge Sonatel Academy 2020.<mat-icon> mail_outline</mat-icon>niangmakhtar4@gmail.com</h3>
    <span class='spacer'></span>
  </mat-toolbar>
</div>
