
table {
    width: 90%;
    background-color: rgb(253, 253, 253);
    margin-left: 4.5%;
  }
  .button{
    width: auto;

}
.Lister{
    text-align: center;
    align:center;
    text-align:center;
    color:#07be87;
    
    
}
img{
  width: 100px;
  height: 100px;
}
.icon{
  margin-left: 97%;
  width: 200px;
}
th{
  background-color: #07be87;
}
.pagi{
  width: 90%;
  margin-left: 4.5%;
}
.mat-form-field {
  margin-right: 12px;
}