
table {
    width: 100%;
    background-color: rgb(185, 157, 230);
  }
  .button{
    width: auto;

}
.Lister{
    text-align: center;
    align:center;
    text-align:center;
    color:#6d13a8;
    
    
}
img{
  width: 120px;
  height: 100;
}